/* line 1, ../scss/sands.scss */
body {
  background-color: #afb3b5;
}

/* line 5, ../scss/sands.scss */
.displayDataTable {
  height: 500px;
  margin-top: 40px;
}

/* line 10, ../scss/sands.scss */
.mainTable {
  margin: 20px auto 20px 0px;
  /* background-color: #e2dddd; */
  color: #f8f8f8;
  font-size: 12px;
}

/* line 18, ../scss/sands.scss */
.first {
  border: 1px solid #6f6d6d;
  padding: 10px;
  border-radius: 10px;
}

/* line 25, ../scss/sands.scss */
.back {
  border: 1px solid #6f6d6d;
  padding: 10px;
  border-radius: 10px;
}

/* line 32, ../scss/sands.scss */
.dataTable {
  border: 1px solid #6f6d6d;
  padding: 10px;
  border-radius: 30px;
  background-color: #999b9c;
}

/* line 39, ../scss/sands.scss */
.table > tbody > tr > td, .table > tbody > tr > th,
.table > tfoot > tr > td, .table > tfoot > tr > th,
.table > thead > tr > td, .table > thead > tr > th {
  padding: 0px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #afb3b5 !important;
}

/* line 48, ../scss/sands.scss */
.back:hover,
.dataTable:hover,
.first:hover,
.last:hover,
.next:hover {
  cursor: pointer;
}

/* line 56, ../scss/sands.scss */
.next {
  border: 1px solid #6f6d6d;
  padding: 10px;
  border-radius: 10px;
}

/* line 63, ../scss/sands.scss */
.last {
  border: 1px solid #6f6d6d;
  padding: 10px;
  border-radius: 10px;
}

/* line 73, ../scss/sands.scss */
.email,
.name {
  height: 100px;
  background-color: #2c3e50;
  color: #ecf0f1;
  font-size: 18px;
  text-align: center;
  padding-top: 35px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #626e7b;
}

/* line 85, ../scss/sands.scss */
.body {
  margin-top: 20px;
  /* height: 100px; */
  background-color: #2c3e50;
  color: #ecf0f1;
  font-size: 16px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 4px 4px 10px #626e7b;
}

/* line 100, ../scss/sands.scss */
.customwrapper {
  margin-top: 25vh;
}
