<div class="container">
    <div class="wrapper">
        <div ag-grid="gridOptions" class="ag-fresh displayDataTable"></div>
        <table class="mainTable">
            <tr>
                <td ng-click="first();" class="first">First</td>
                <td ng-click="back();" class="back">Back</td>
                  <td ng-repeat='pages in Painationarray track by $index'>
                    <span ng-click="goToPage(pages)" class="dataTable">  {{pages}} </span>
                  </td>
                <td ng-click="next();" class="next">Next</td>
                <td ng-click="last()" class="last">Last</td>
            </tr>
        </table>
        <div>
      <div>
<div>
