body {
    background-color: #ecebeb;
}

.displayDataTable {
    height: 500px;
    margin-top: 40px;
}

.mainTable {
    border: 1px #818080 solid;
    margin: 20px auto auto;
    background-color: #e2dddd;
}

.first {
    padding: 10px 5px 10px 10px;
    border-right: 1px solid #818080;
}

.back {
    padding: 10px 5px;
    border-right: 1px solid #818080;
}

.dataTable {
    padding: 10px;
    border-right: 1px solid #818080;
}

.back:hover,
.dataTable:hover,
.first:hover,
.last:hover,
.next:hover {
    cursor: pointer;
}

.next {
    padding: 10px 10px 10px 5px;
    border-right: 1px solid #818080;
}

.last {
    padding: 10px;
    border-right: 1px solid #818080;
}

.email,
.name {
    height: 100px;
    background-color: #2c3e50;
    color: #ecf0f1;
    font-size: 18px;
    text-align: center;
    padding-top: 35px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #626e7b;
}

.body {
    margin-top: 20px;
    /* height: 100px; */
    background-color: #2c3e50;
    color: #ecf0f1;
    font-size: 16px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 4px 4px 10px #626e7b;
}

.customwrapper {
    margin-top: 25vh;
}
